---
const real_url = "https://coffee-rec-service.onrender.com/get_number_of_coffee_reviews"
const temp_url = "http://127.0.0.1:5000/get_number_of_coffee_reviews"
const response = await fetch(real_url);
const data = await response.json();
console.log(data.text)
// const randomUser = data.results[0];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Coffee Recommender Service</title>
	</head>
	<body>
		<h1>Welcome to Coffee Recommender Service</h1>
		<p>{JSON.stringify(data)}</p>
		<p>{data["number_of_coffee_reviews"]}</p>
		<!-- <p>{JSON.stringify(response)}</p>
		<p>{JSON.stringify(data)}</p> -->
	</body>
</html>
