---
const url = "https://coffee-rec-service.onrender.com/get_number_of_coffee_reviews"
const response =  fetch(url)
      .then(response => {
        console.log(response.text()) //Here is the text() i said before
      })
      .catch(error=>{
        console.log(error)
      })

const data = response;
const get_data_result = data;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Coffee Recommender Service</title>
	</head>
	<body>
		<h1>Welcome to Coffee Recommender Service</h1>
		<p>{JSON.stringify(response)}</p>
		<!-- <p>{data.json}</p> -->
		<!-- <p>{data.text}</p> -->
	</body>
</html>
